 {{>layout/header}}
    <h1>글읽기</h1>
    <div>
     <form id="form-post">
     	<input type="hidden" class="form-control" id="id" name="id" value="{{post.id}}" disabled>
        <table class="table table-horizontal table-bordered"> 
        	<tr>
        		<th colspan="6">{{post.title}}</th>
        	</tr>
	     	<tr>
	     		<th>작성자</th>
	     		<td>{{post.writer}}</td>
	     		<th>작성일시</th>
	     		<td>{{post.modifiedDate}}</td>
	     		<th>조회수</th>
	     		<td>{{post.views}}</td>	     		
	     	</tr>
	     	<tr>
	     		<td colspan="6"><div style="min-height:50%;">{{post.content}}</div></td>
	     	</tr>
     	</table>
    </form>
    <div align="right">
    	<button type="button" class="btn btn-danger" id="btn-post-save" onClick="postForm('form-post','/post/delete/{{id}}','DELETE')">삭제</button>
    	<button type="button" class="btn btn-primary" id="btn-post-update" onClick="goTo('/post/write/{{post.id}}')">수정</button>
    </div>
   </div>
	{{>layout/comment-write}}   
	<div id="comment-list">
 		{{>layout/comment-list}}   
 	</div>
 {{>layout/footer}}
    