 {{>layout/header}}
    <h1>글쓰기</h1>
    <div>
    {{#post.id}}
     <form class="needs-validation" id="form-post" novalidate>
     	<input type="hidden" class="form-control" id="id" name="id" value="{{post.id}}">
        <div class="form-group">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" required>
	        <div class="invalid-feedback">
	          제목을 입력하세요
	        </div>             
        </div>
        <div class="form-group">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control form-control-lg" id="content" name="content" required>{{post.content}}</textarea>
	        <div class="invalid-feedback">
	          내용을 입력하세요
	        </div>            
        </div>
    </form>
	<a href="/" role="button" class="btn btn-secondary float-end">취소</a>
	<button type="button" class="btn btn-primary float-end" id="btn-save" onClick="postForm('form-post','/post/update/{{id}}','PUT')">수정</button>   
    {{/post.id}}
    
    
    {{^post.id}}
     <form class="needs-validation" id="form-post" novalidate>
        <div class="form-group">
            <label class="form-label" for="title">제목</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요" required>
	        <div class="invalid-feedback">
	          제목을 입력하세요
	        </div>              
        </div>
        <div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" class="form-control" id="writer" name="writer" placeholder="작성자를 입력하세요">
        </div>
        <div class="h-300px form-group">
            <label for="content" class="form-label">내용</label>
            <textarea class="h-75 form-control form-control-lg" id="content" name="content" placeholder="내용을 입력하세요" required></textarea>
	        <div class="invalid-feedback">
	          내용을 입력하세요
	        </div>            
        </div>
    </form>
    <div class="text-end">
  	  <a href="/" role="button" class="btn btn-secondary">취소</a>
 	  <button type="button" class="btn btn-primary" id="btn-save" onClick="postForm('form-post','/post/save','POST')">등록</button>        
 	</div> 
    </div>
    {{/post.id}}    
 {{>layout/footer}}
    