 {{>layout/header}}
    <h1>글읽기</h1>
    <div class="m-1">
     <form id="form-post">
     	<input type="hidden" class="form-control" id="postId" name="id" value="{{post.id}}" disabled>
        <table class="table table-horizontal table-bordered"> 
        	<tr>
        		<th class="col-7">{{post.title}}</th>
	     		<th class="text-center">작성일시</th>
	     		<td class="text-center">{{post.modifiedDate}}</td>
	     		<th class="text-center">조회수</th>
	     		<td class="text-center">{{post.views}}</td>	          		
        	</tr>
	     	<tr>
   		
	     	</tr>
	     	<tr>
	     		<td colspan="5"><div style="min-height:50%;">{{post.content}}</div></td>
	     	</tr>
     	</table>
    </form>
    <div class="text-end">
    	<button type="button" class="btn btn-danger" id="btn-post-save" onClick="postForm('form-post','/post/delete/{{id}}','DELETE')">삭제</button>
    	<button type="button" class="btn btn-primary" id="btn-post-update" onClick="goTo('/post/write/{{post.id}}')">수정</button>
    </div>
   </div>
	{{>layout/comment-write}}   
	<div id="comment-list">
		{{#post}}
 			{{>layout/comment-list}}
 		{{/post}}   
 	</div>
 {{>layout/footer}}
    