{{#paging}}
<input type="hidden" value="{{numberCount}}" id="numberCount">
<input type="hidden" value="{{offset}}" id="offset">
<input type="hidden" value="{{size}}" id="size">
<input type="hidden" value="{{totalCount}}" id="totalCount">
<input type="hidden" value="{{now}}" id="now">

{{/paging}}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" id="pagination">
  </ul>
</nav>
