{{#paging}}
<input type="hidden" value="{{totalContent}}" id="totalContent">
<input type="hidden" value="{{totalNumber}}" id="totalNumber">
<input type="hidden" value="{{startNum}}" id="startNum">
<input type="hidden" value="{{endNum}}" id="endNum">
<input type="hidden" value="{{now}}" id="now">
<input type="hidden" value="{{hasNext}}" id="hasNext">
<input type="hidden" value="{{hasPrev}}" id="hasPrev">

{{/paging}}

{{#commentPaging}}
<input type="hidden" value="{{totalContent}}" id="totalContent">
<input type="hidden" value="{{totalNumber}}" id="totalNumber">
<input type="hidden" value="{{startNum}}" id="startNum">
<input type="hidden" value="{{endNum}}" id="endNum">
<input type="hidden" value="{{now}}" id="now">
<input type="hidden" value="{{hasNext}}" id="hasNext">
<input type="hidden" value="{{hasPrev}}" id="hasPrev">

{{/commentPaging}}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" id="pagination">
  </ul>
</nav>
